*{
    box-sizing: border-box;
    margin: 0;
    color: black;
}

body{
    background-color:lightblue ;
}

section{
    padding: 2em;
}

/* Nav Bar CSS start */
header{
    background-color: rgba(22, 69, 255, 0.744);
    color:white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1vw;

}

header h1{
    color: white;
}
/* nav{
    width: 80%;
} */

 /* .nav-and-logo{
    width: 90vw;
    display: flex;
}  */
/* .nav-and-logo{
    margin-left: auto;
} */


nav ul{
    /* position: absolute;
    left: 30%; */

    /* border: 1px solid black; */
    width: 50vw;
    list-style: none;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-left: auto; */
    font-size: 1.5em;
    
}

nav ul li a{
    /* position: relative;
    top: 50%; */
    color: white;
    text-decoration: none;

    align-self: center;
}

.logo-and-name{

    display: flex;
    align-items: center;
    gap: 2em;

    width: 20vw;
    height: max-content;

    /* border: 1px solid black; */
}

.fa-solid{
scale: 2;
}

header span{
    font-size: 1.5em;
}

/* .background_logo{


    width: 4.5vh;
    height: 4.5vh;

border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
} */

/*  */
/* End of nav bar */

aside{
background-color: aliceblue;
height: max-content;
padding-top: 10vh;
padding-bottom: 10vh;

grid-area: 1/1/2/2;
}

aside ul .fa-solid{
scale: 1.6;

}


aside ul{
display: flex;
flex-direction: column;
gap: 1.5em;
}

aside ul li{
    display: flex;
    column-gap: 2em;
    align-items: baseline;
}

aside ul li a{
    font-size: 1.5em;

}

/* Top Sellers */

.main-grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 20vw 70vw;
}

main{

    /* border: 1px solid black; */
    margin-right: 10%;
    padding-left: 5em;

}
main h2{
    background-color: aliceblue;
}

.mainSection{
    background-color: aliceblue;
    display: grid;
    grid-template-rows:repeat(3,1fr) ;
    grid-template-columns: repeat(5,1fr);
}


.mainSection div img{
    width: 80px;
    height: 80px;
    border-radius:50px ;
}

.card-layout6{
    grid-area: 2/2/3/3;
}

.card-layout7{
    grid-area: 2/3/3/4;
}

.card-layout8{
    grid-area: 2/4/3/5;
}

/* Top Articles */
.top-articles{
    border-top: 1px solid gray;
    background-color: aliceblue;
}

.article-container article img{
    width: 280px;
    height: 150px;
}

.article-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    grid-auto-rows: 1fr;
}

.article-container article{
    display: flex;
}

/* Search Bar */
.search{
    position: relative;
    border: 1px solid black;
    background-color: aliceblue;
    padding: 1em;

    height: 15vh;
    margin-top: 4rem;
}

.search form{
    position: relative;
    top: 2em;
}

.search form input{
position: relative;
    width: 80%;
    height: 5vh;

    border-radius:30px;
    border:1px solid gainsboro ;
}

.search form button{
    position: relative;
    left: 5rem;

    width: 5vw;
    height: 5vh;

    border-radius: 30px;

    color: white;
    background-color: rgba(42, 137, 246, 0.726);
    border: none;
}

.search form button:hover{
    background-color: rgb(40, 105, 245);
}

