*{
    box-sizing: border-box;
    margin: 0;
    color: black;
}

body{
    background-color:lightblue ;
}

/* Nav Bar CSS start */
header{
    background-color: rgba(22, 69, 255, 0.744);
    color:white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1vw;

}

/* nav{
    width: 80%;
} */

 /* .nav-and-logo{
    width: 90vw;
    display: flex;
}  */
/* .nav-and-logo{
    margin-left: auto;
} */


nav ul{
    /* position: absolute;
    left: 30%; */

    /* border: 1px solid black; */
    width: 50vw;
    list-style: none;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-left: auto; */
    font-size: 1.5em;
    
}

nav ul li a{
    /* position: relative;
    top: 50%; */
    color: white;
    text-decoration: none;

    align-self: center;
}

.logo-and-name{
    /* background-color:black; */

    display: flex;
    align-items: center;
    gap: 2em;

    width: 20vw;
    height: max-content;

    /* border: 1px solid black; */
}

.fa-solid{
scale: 2;
}

header span{
    font-size: 1.5em;
}

/* .background_logo{


    width: 4.5vh;
    height: 4.5vh;

border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
} */

/*  */
/* End of nav bar */

aside{
background-color: aliceblue;
height: max-content;
padding-top: 10vh;
padding-bottom: 10vh;

grid-area: aside;
}

aside ul .fa-solid{
scale: 1.6;

}


aside ul{
display: flex;
flex-direction: column;
gap: 1.5em;
}

aside ul li{
    display: flex;
    column-gap: 2em;
    align-items: baseline;
}

aside ul li a{
    font-size: 1.5em;

}

.main-grid{
    grid-area: 2/2;
}

main{
    background-color: aliceblue;
    border: 1px solid black;
    grid-area: main;
}
